.DS_Store
.build
.swift_lint
swift-ast.xcodeproj/
build/
swift-ast_github_issue_*.md
.swiftpm/xcode/package.xcworkspace/xcuserdata/mafalda.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/mafalda.xcuserdatad/xcschemes/xcschememanagement.plist
